* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("../assets/fonts/Akronim.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #ffffff;
  color: black;
  font-family: "MyCustomFont", sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.button-primary {
  background-color: #a437db;
  color: #ffffff;
}

.button-secondary {
  background-color: #4bb1f1;
  color: #ffffff;
}

.highlight {
  background-color: #bb84e8;
  color: black;
}

main {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.tree {
  bottom: -5%;
  right: -3%;
}

.branch {
  top: 5%;
  left: 0%;
}

.rabbit {
  bottom: -1%;
  left: 5%;
}

.flower {
  bottom: 0%;
  left: 13%;
}

.flower2 {
  bottom: 0%;
  left: -2%;
}

.maintext {
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 11rem;
  color: #a437db;
}

.sectext {
  font-size: 2rem;
  top: 62%;
  left: 43%;
  color: black;
  opacity: 0.6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
}

.task-schedular {
  width: 100vw;
  height: 100vh;
}

th,
td {
  text-align: center;
}

th {
  font-size: 1.5rem;
}

td {
  padding: 1% 0%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  transition: 0.5s all ease-in-out;
}

.noteit {
  background-color: #4bb1f1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  color: white;
  transition: 0.3s all ease-in-out;
}
.noteit:hover {
  color: #a437db !important;
}

.search {
  width: 200px;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  border: none;
  border-bottom: 1px solid black;
}
.search:hover, .search:active, .search:focus {
  border: none !important;
}

form {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
}

.modal-footer .btn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
}

.infoIcon {
  color: #4bb1f1;
  cursor: pointer;
  font-size: large;
  transition: 0.3s all ease-in-out;
}
.infoIcon:hover {
  color: black;
}

.caption {
  top: 30%;
  left: 5%;
  width: 25%;
  height: 40%;
  font-size: 92px;
}

strong {
  font-family: "MyCustomFont", sans-serif;
  font-weight: 500;
  color: #a437db;
}

.p1 {
  color: #8fdfa6;
}

.p2 {
  color: #4bb1f1;
  transform: translateX(10%);
}

.p3 {
  color: #345ba7;
  transform: translateX(22%);
}

.action-icons {
  display: none;
  position: absolute;
  background-color: white;
  padding: 5px;
  z-index: 100;
  border-radius: 50%;
  transform: translate(90%, -40%);
}

.action-icons i {
  font-size: small;
  display: block;
  margin: 5px 0;
  background-color: white;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-in-out;
}

.action-icons i:hover {
  transform: scale(1.1);
}

.arc-icons {
  transform-origin: center center;
}

.arc-icons:nth-child(1) {
  transform: rotate(-40deg) translate(10px) rotate(40deg);
}
.arc-icons:nth-child(1):hover {
  color: red;
  transform: rotate(-40deg) translate(5px) rotate(40deg);
}

.arc-icons:nth-child(2) {
  transform: rotate(-20deg) translate(50px) rotate(20deg);
}
.arc-icons:nth-child(2):hover {
  transform: rotate(-20deg) translate(45px) rotate(20deg);
  color: #a437db;
}

.arc-icons:nth-child(3) {
  transform: rotate(0deg) translate(50px) rotate(0deg);
}
.arc-icons:nth-child(3):hover {
  transform: rotate(0deg) translate(45px) rotate(0deg);
  color: green;
}

.arc-icons:nth-child(4) {
  transform: rotate(20deg) translate(10px) rotate(-20deg);
}
.arc-icons:nth-child(4):hover {
  transform: rotate(20deg) translate(5px) rotate(-20deg);
}

.SearchBy {
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  padding: 5px;
}

/*# sourceMappingURL=styles.css.map */
